<form action="/password_check" method="POST">
	  	<input type="mail" name="email" placeholder="e-mail"><input type="password" name="password" placeholder="write your password">
		<button type="submit" name="send_password" value="password">SEND</button>
</form>