<!DOCTYPE html>
<html>
<head>
  <title>IronBlog</title>
</head>
<body>

  	<h1>Iron Super Blog</h1>
  	<% @posts.each_with_index do |post, index| %>
  		<a href="????"><%= post.title %></a>
	<% end %>

</body>
</html>
