
<!DOCTYPE html>
<html>
<head>
  <title>Find your movie</title>
</head>
<body>
	<h1>List of movies</h1>
		<form action="/moviesearcher" method="POST">
		<label for="search"> Search your movie </label>
  		<input type="text" id = "search" name="movie_name" placeholder="Enter your movie name"> 
</body>
</html>


